@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  border-radius: 0px !important;
}

.container {
  padding: 0;
  margin: 0;
}

.product {
  border-color: #E5E7E9;
}

.badge {
  padding: 0;
}

.badge {
  padding: 4px 8px;
}

.container {
  padding: 16px !important;
  margin: 0 auto;
}

.product-title {
  font-weight: 600;
  font-size: 16px;
}

.product-price {
  float: right;
}

.product-labels {
  margin-top: 8px;
}

.bg-secondary {
  background-color: #fff !important;
  color: #000;
  border: 1px solid #000;
  font-weight: 400 !important;
  margin-right: 3px;
}

.bg-dark {
  background-color: #000 !important;
  color: #fff;
  font-weight: 500 !important;
  position: absolute;
  right: 16px;
  top: 16px;
  margin: 0;
}

.product-author {
  text-decoration: none;
  color: #000 !important;
  font-weight: 400;
  font-size: 14px;
  margin-top: 16px;
  display: inline-block;
}

.product-author-image {
  width: 32px;
  margin-right: 12px;
  border: 2px solid #fff;
  outline: 1px solid #000;
}

.product-publication-date {
  color: #6C757D;
  font-size: 13px;
  margin-top: 16px !important;
}

.product-button-preview {
  margin-right: 11px;
}

.product-publication-date-icon, .rating-icon {
  width: 18px;
}

.btn-outline-dark {
  border: 1px solid black !important;
}

.product-description {
  font-size: 13px;
  color: #6C757D;
  margin-top: 16px !important;
}

.product-features {
  font-size: 13px;
  margin-top: 8px;
}

.btn {
  font-size: 13px;
  box-shadow: none !important;
  border: none !important;
}

.product-info {
  padding: 0 !important;
}

.btn-dark {
  background-color: #000 !important;
}

.product-buttons {
  margin-top: 32px;
}

.product-bookmark-icon {
  width: 20px;
}

.product-bookmark {
  border: 0px;
  background: transparent;
  padding: 0;
}

.product-actions {
  float: right;
}

.product-colors {
  margin-top: 16px;
}

.product-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  padding: 0;
  border-radius: 10px !important;
}

.product-color:focus {
  border: 1px solid white !important;
  outline: 1px solid black !important;
}

.product-color-1 {
  background-color: #C2AD7B;
}

.product-color-2 {
  background-color: #D5BA9F;
}

.product-color-3 {
  background-color: #DDDDDD;
}

.product-color-4 {
  background-color: #6F7E7D;
}

.product-color-5 {
  background-color: #AAD1D6;
}

p {
  margin: 0 !important;
}

.btn-light {
  background-color: #E5E7E9;
}

@media (max-width: 576px) {
  .product {
    width: 100% !important;
  }
}

/* @media (min-width: 576px) { ... } */

/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */